@import '../core/Variables.scss';
.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    background-color: $dark;
    color: white;
    padding: 30px;
    font-family: $font;
    
    min-height: auto;
}
.daliLogo{
    width: 35px;
}